@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&family=Poppins:wght@400;600&display=swap');

$font-stack: 'Poppins', 'League Spartan', sans-serif;
$primary-color: hsl(300, 43%, 22%);
$secondary-color: hsl(333, 80%, 67%);