.testimonials {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    // grid-template-rows: 1fr 1fr;
    column-gap: 30px;
}

.card {
    background-color: $primary-color;
    border-radius: 10px;
    color: #fff;
    // box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    padding: 20px;
}

.card__header {
    display: flex;
    position: relative;
    h4 {
        position: absolute;
        left: 60px;
        font-size: 14px;

    }
    p {
        position: absolute;
        left: 60px;
        top: 20px;
        opacity: 50%;
    }
}



.card__img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.card__quote {
    font-size: 12px;
    line-height: 1.4;
    margin-top: 20px;
}


.card:nth-of-type(1) {
    grid-column: 1 / 4;
    grid-row: 1;
}
.card:nth-of-type(2) {
    grid-column: 4 / 7;
    grid-row: 1;
    margin-top: 10px;
}

.card:nth-of-type(3) {
    grid-column: 7 / 10;
    grid-row: 1;
    margin-top: 20px;
}