@import 'config';
@import 'testimonials';
@import 'text-rated';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-stack;
    font-size: 15px;
    line-height: 1.6;
    background-color: hsl(0, 0%, 100%);
    
}

.main-container {
    max-width: 1440px;
    min-height: 100vh;
    padding: 100px;
    // margin: 40px;
    display: flex;
    flex-direction: column;
}
